
.bs-footer {
  padding-top: 40px;
  padding-bottom: 30px;
  margin-top: 100px;
  color: #777;
  text-align: center;
  border-top: 1px solid #e5e5e5;
}
.footer-links {
  margin: 10px 0;
  padding-left: 0;
}
.footer-links li {
  display: inline;
  padding: 0 2px;
}
.footer-links li:first-child {
  padding-left: 0;
}

@media (min-width: 768px) {
  .bs-footer {
    text-align: left;
  }
  .bs-footer p {
    margin-bottom: 0;
  }
}

/* Left nav top level */

.bs-sidebar {
  background-color: #f7f7f7;
  padding: 10px;

}

.bs-sidebar .nav  .active > a{
  font-weight: bold;
  border-right: 1px solid #428bca;
}


/* Nav: second level (shown on .active) */
.bs-sidebar .nav .nav > li > a {
  padding-top:    3px;
  padding-bottom: 3px;
  padding-left: 30px;
  font-size: 90%;
}

/* teletype me */
.texttt {
  font-family: monospace
}
.texttt strong {
  color: red;
}

html{
  overflow-y: scroll;
}

h1{
  font-size: 24px;
}

h2{
  font-size: 20px;
}

h3{
  font-size: 18px;
}