<div class="col col-1" style="color: #244d4a ;font-weight: bold;" data-label="Event">Exam</div>
<div class="col col-1-2"data-label="Date">
    {{ event.date | date: "%A" }}
    <br class="date-spliter" />
    {{ event.date | date: site.dateformat }}
    {{ event.date | date: "%I:%M %p" }}
    
</div>
<div class="col col-2" data-label="Description">
    {{ include.event.title }} 
</div>
<div class="col col-3" data-label="Content">
    
</div>
<div class="col col-4" data-label="Notes"> {{ event.notes }}
</div>