<div class="col col-1" data-label="Event">Lab</div>
<div class="col col-1-2" data-label="Date:">
    {{ event.date | date: "%A" }}
    <br class="date-spliter" />
    {{ event.date | date: site.dateformat }}
</div>
<div class="col col-2" data-label="Description:">
    {{ include.event.title }}
</div>
<div class="col col-3" data-label="Content:">
    <a href="{{ include.event.url | prepend: site.baseurl}}">
        {% if event.description == nil %}
        {{event.title }}
        {% else %}
        {{ event.description }}
        {% endif %}
    </a>
</div>
<div class="col col-4 markdown-content" data-label="Notes:">
    {% if include.event.notes != '' %}
    {{ event.notes | markdownify }}
    {% endif %}
</div>