---
layout: default
---

<header class="post-header">
    <h1 class="post-title">Schedule</h1>
</header>

{{ content }}

<div class="home" >
    <ul class="responsive-table" style="margin-left: 0;">
        <li class="table-header">
            <div class="col col-1">Event</div>
            <div class="col col-1-2">Date</div>
            <div class="col col-2">Description</div>
            <div class="col col-3">Content</div>
            <div class="col col-4">Notes</div>
        </li>
        
        {% assign all_assignment_dues = site.homeworks | map: "due" %}
        {% assign all_events = site.homeworks | concat: all_assignment_dues %}

        {% assign all_events_sorted = all_events | sort: 'date' %}

        {% for event in all_events_sorted %}
        <li class="table-row table-row-{{ event.type}}">
            {% include schedule_row_{{ event.type }}.html event=event %}
        </li>
        {% endfor %}

    </ul>
</div>
